$titles-font: Shrikhand;
$text-font: Roboto;
$logo-font-color: #101010;
$header-background: #ffffff;
$color_1: #000000;
$color_2: #353535;
$font-family_1: "Shrikhand", cursive;
$font-family_2: "Roboto" sans-serif;
$background-color_1: #eaeaea;
$background-color_2: #f6f6f6;