@import "../variables";
@import "../layouts/mixins";


/*body {
	margin: 0;
}*/


header {
	font-family: $shrikhand-font;
	text-align: center;
	justify-content: center;
	box-shadow: $box-shadow;
	margin: 0;
	height: 63px; // hauteur de la banniere
	display: flex;
	align-items: center;
	position: relative;	// là ou il se trouve nativement 
	z-index: 20;
}
	/*&__img {
	display: block;
	max-width: 400px;
	height: 70vh;
	object-fit: cover;
	object-position: bottom;*/


	h1 {
	
	font-size: $shrikhand-font;
	font-size: 60px;
	color: $color-font-footer-p-home;
	}


	h3 { 
	padding: 0 1rem;
	margin-top: -2rem;
	border-radius: 0 16px 16px 0;
	font-family: "Roboto";
	//font-size: 28px;
	//font-weight: 400;
	position: relative;	// là ou il se trouve nativement 
}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	p{
		padding: 0;
		margin: 0;
	}

	p {
	background-color: #f6f6f6;
	font-family: $shrikhand-font;
	padding: 2rem 1rem;
	position: relative;
	width: 100%;
	border-radius: 2rem 1rem;
}	


.menu-list {
	background-color: #f6f6f6;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	max-width: 400px;
		grid-template-columns: 1fr;
}

.menu__category {
	border-radius: 16px;
	background-color: white;
	.menu-item {
			display: flex;
			align-items: center;
			padding: 1rem;
			overflow: hidden;
			
		.menu-item__prix {
			margin-left: auto;
			font-weight: 900;
			
		}
		.menu-item__check {
			background-color: #52a591;
			margin-right: -4rem;
			width: 4rem;
			border-radius: 0px 116px 16px 0px;
			display: grid;
			place-items: center;
			

		}

		heart {
			font-size: 1.5rem;
			position:absolute;
			right: 25px;
			bottom: $bottom;
		}

:hover .menu-item__check{
	margin-right: 0;
}
		}
	}

.restaurant-main {
	padding: 0 32px;
	background-color: #f6f6f6;
}

.menu__button {
	@include btn-main;
}



