@import "../variables";
@import "../layouts/mixins";


body {
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	
.banner {
	width: 100%;	

} 

.container-restaurant {
	display: flex;
	flex-direction: column;
	border-radius: 25px 25px 0 0 ;
	background-color: transparent;
	margin-top: -30px;
	.restaurant-title {
		width: 100%;
		background-color: white;
		border-radius: 25px 25px 0 0 ;	
	}
	.menu__lists {
		width: 100%;
		background-color: pink;	
	}
	.menu__button {
		@include btn-main;
	}
}
}





