@import "../variables";
@import "../layouts/mixins";
@import "../layouts/footer";
@import "../layouts/loader";


// Styles Globaux
body {
  margin: 0;
  padding: 0;
    // supprime marges et paddings par défaut du body
}

// Header
.header__logo {
  font-family: $shrikhand-font;
  font-size: 30px;
  text-decoration: none;
  color: #101010;
}

a {
  text-decoration: none;
   // supprime le soulignement par défaut des liens
}

h2 {
  margin: 0;
  // supprime marge par défaut des titres h2 pour 1 meilleur controle de l'espacement
  font-family: $roboto-font;
}

section {
  padding: 50px 20px;
  // ajoute 1 padding interne aux sections pour créer l'espace autour de leur contenu
}

.container {
  margin: auto;
  // centre les elemts en les rendant automatiquement margines à gauche et à droite
}

.container--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  align-items: flex-start;  // aligne elemts enfants en haut (start) du container flexbox
    // utilise flexbox pour aligner les élémts du footer en colonne
  // Centrage horizontal et alignement vertical au début du conteneur
  }

.heart-checkbox{
  display: none;
}

.btn-hearts {
  position: relative;  // positionne coeur par rapport au container 
  //width: 0px;
  height: 20px;
  cursor: pointer;
  // le bouton coeur est 1 élément flexible avec alignement centré

  &.fa-regular, // coeur vide 
  .fa-solid {  //coeur plein 
    position: absolute; // position icones par rapport au container  
    top: 0; // place icones en haut 
    left: 0; // place icones à gauche 
    font-size: 20px; // taille de l'icone 
    background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%); // applique dégradé au coeur 
    -webkit-background-clip: text; // fond seulement sur background du coeur 
    background-clip: text; // fond uniquement sur le txt 
    color: transparent; // coeur transparent pour laisser apparaître le dégradé 
    opacity: 0; // coeur plein masqué par défaut 
    transition: opacity 0.4s ease-in-out; // transition apparition/disparition du coeur 
  }
}
.btn-hearts:hover .fa-regular {
  opacity: 0;
  transition: opacity 0.4s ease-in-out; // délai dès le survol 
}

.btn-hearts:hover .fa-solid {
  opacity: 1;
  transition: opacity 0.4s ease-in-out; // transition départ du survol 
}

.btn-hearts:active .fa-solid {
  opacity: 1; // coeur plein visible après le clic 
}

  .btn {
     background-image: $gradient-button;
      box-shadow: $box-shadow;
      color: #fff;
      padding: 15px 22px;
      border-radius: 50px;
      font-family: $roboto-font;
      &:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4); // ombre plus grande et plus visible au survol 
    }
}
// Location Section
.location {
  background-color: #eaeaea;
  color: $color-font-footer-p-home;
  padding: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
  font-size: 16px;
  font-weight: 500;
  font-family: $roboto-font;
  }
  &__icon {
  margin-right: 15px;
  }
}
// explain section
.explain {
  text-align: center;
  padding: 40px 20px 70px;
  background-color: $grey-label-background;

  &__subtitle {
    font-size: 18px;
    font-weight: 300;
    padding: 12px 0 30px;
    margin-top: 0;
    font-family: $roboto-font;
  }
}
// Process Section
.process {
  background-color: #fff;

  &__steps {
    padding: 25px 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    gap: 25px;
  }

  &__step {
    background-color: $grey-label-background;
    box-shadow: $box-shadow;
    border-radius: 20px;
    font-weight: 500;
    padding: 28px 35px;
    display: flex;
    margin: 0 14px;
    font-family: $roboto-font;
  }

  &__number {
    background-color: $purple-dark;
    color: #fff;
    font-size: 14px;
    position: absolute;
    padding: 4px 9px;
    border-radius: 50px;
    margin-left: -50px;
  }

  &__icon {
    color: #7e7e7e;
    font-size: 20px;
    margin-right: 25px;
  }
}
// Restaurants Section
.restaurants {
  background-color: $grey-label-background;
}

.cards {
  display: flex;
  flex-direction: column;  // dispose elemts en colonne
  gap: 20px;               // maintient l'espacement entre les elemts
  padding: 25px 0 0;       // garde le padding initial
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: $box-shadow;
  text-decoration: none;
  color: #000;
  position: relative;

  &__new {
    background-color: $nouveau-card-color;
    color: $nouveau-text-color;
    border-radius: 3px;
    padding: 6px 12px;
    position: absolute;
    top: 12px;
    right: 12px;
    font-family: $roboto-font;
    // etiquette "new" sur carte, avec 1 fond + 1 couleur txt spécifiques, positionnée en haut à droite.
  }

  &__image {
    display: flex;

    & img {
  width: 100%;
  height: 250px; // largeur minimum
  object-fit: cover;
  border-radius: 15px 15px 0 0;
    }
  }

  &__title {
    font-size: 18px;
    margin: 0 0 5px;
    font-family: $roboto-font;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 300;
    font-family: $roboto-font;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 15px;
  }

  &__icon {
    font-size: 20px;
  }
}

.banner img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.menu {
  border-radius: 40px 40px 0 0;
  background-color: $grey-label-background;
  position: relative;
  margin-top: -50px;

  &__header {
    font-family: $shrikhand-font;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: $black-font-color;
  }

  &__icon {
    font-size: 24px;
    margin-right: 20px;
  }

  &__lists {
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }

  &__list {
    margin: 30px 0 0 28px;
    width: 100%;
  }

    &:first-child {  // regle supprime marge à gauche uniquement pour premier elemt de la liste .menu__list
      margin-left: 0;
    }

    & h3 {
    font-size: 16px;
    font-weight: 300;
    position: relative;
    margin: 20px 0 22px 6px;
    }
  
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0 8px;
  }
}
.list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  padding: 12px 22px 12px 10px;
  margin-bottom: 14px;
}

 


/* styles pour présentation des cards resto en mode desktop */
@media (min-width: 768px) and (max-width: 1400px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 0 20px;
  }

  .restaurants h2,
  .process h2 {
    
    //padding-right: 180px;
    padding-bottom: 28px;
  }

  /* styles pour section "process" mode desktop*/
  .process{

  
  .process__steps {
    flex-direction: row;
    justify-content: flex-start;
    
    
  }
}

  
}