@import "../variables";
@import "../layouts/mixins";

body {
	background-color: lightseagreen;
}
#page-resto {
	margin: 0;
	background-color: purple; //comment faire disparaitre le fond sans faire disparaitre h1
	
}


.banner img {
	display: block; /* pour prendre toute la banner en taille*/
	width: 100%;
	height: 40vh;
	object-fit: cover;
	object-position: center bottom;	
	
}
.resto__title {
	
	margin-top: -35px;     //chevaucher sur image
	
	//background-color: transparent; // red pour
	//border-radius: 60px 60px 50px 50px;
	h2 {							
		
		
		//padding-bottom: -30px;
		font-family: "Shrikhand"; 
		font-size: 28px;
		font-weight: 400;
		height: 50px;
		border-radius: 50px 50px 0px 0px;
		padding-left: 20px;
		background-color: green; /* ne prend pas le background f6f6f6 */
    } /* coeur non intégré */
}

.resto-main {
	 background-color: #f6f6f6; /* n'a auccun effet */
}
.menus {     // pourquoi grid ne faitpas 3 colonnes alignees en desktop?
	display: grid;
	grid-template-columns: repeat(3 1fr);  // 3 colonnes horizontales + tous la même taille
	gap: 20px; /* espace entre les colonnes */
    width: 100%; /* prendre toute la largeur disponible mais pas de fin */
	padding-left: 20px;
	background-color: pink;  /* se place par dessus purple body. Comment faire le background f6f6f6 ? */
	// comment réduire la marge haute et basse des etiquettes? //

	.menus__category {
		border: 1px solid blue;
		background-color: yellow; /* doit etre white */
		/* on ne voit pas le bas de l'etiquette */
	}
}
            


.btn-order
 {
	@include btn-main; /* pourquoi se chevauche avec le footer??? */
}



