@import "../variables";
@use './pages/home';
@use './pages/palette';
@use './pages/delice';
@use './pages/noteenchantee';
@use './pages/francaise';
@use './layouts/button';
@use './layouts/header';
@use './layouts/footer';
@use './layouts/newcard';
@use './layouts/restaurants';
@use './layouts/menu';
@use './layouts/heart';
@use './layouts/sous-titres';
@use './layouts/titres';

body {
	color: #000;
}



header {
	font-family: $shrikhand-font;
	text-align: center;
	justify-content: center;
	box-shadow: $box-shadow;
	margin: 0;
	height: 63px; // hauteur de la banniere
	display: flex;
	align-items: center;
	position: relative;	// là ou il se trouve nativement 
	z-index: 20;
}
img {
	display: block;
	height: 70vh;
	object-fit: cover;
	object-position: bottom;
}

restaurant__name { 
	padding: 0 1rem;
	margin-top: -2rem;
	font-family: $shrikhand-font;
	text-align: center;
	justify-content: center;
	box-shadow: $box-shadow;
	margin: 0;
	height: 63px; // hauteur de la banniere
	display: flex;
	align-items: center;
	position: relative;	// là ou il se trouve nativement 
}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	p{
		padding: 0;
		margin: 0;
	}

	p {
	background-color: #f6f6f6;
	font-family: $shrikhand-font;
	padding: 2rem 1rem;
	position: relative;
	width: 100%;
	border-radius: 2rem 1rem;
}	


.menu-list {
	background-color: #f6f6f6;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	max-width: 400px;
		grid-template-columns: 1fr;
}

.menu__category {
	border-radius: 1rem;
	background-color: white;
	.menu-item {
			display: flex;
			align-items: center;
			padding: 1rem;
			overflow: hidden;
			
		.menu-item__prix {
			margin-left: auto;
			font-weight: 900;
			
		}
		.menu-item__check {
			background-color: #52a591;
			margin-right: -4rem;
			width: 4rem;
			border-radius: 0 1rem 1rem 0;
			display: grid;
			place-items: center;
			i {
				display: grid;
				place-items: center;
				background: white;

			}

		}

		heart {
			font-size: 1.5rem;
			position:absolute;
			right: 25px;
			bottom: $bottom;
		}

:hover .menu-item__check{
	margin-right: 0;
}
		}
	}
	
.restaurant-main {
	padding: 0 2rem;
	background-color: #f6f6f6;
}


