@import "../variables";
@import "../layouts/arrow";
@import "../layouts/mixins";
@import "../layouts/title";
@import "../layouts/keyframes";


body {
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	
.banner {
	width: 100%;
	//position: relative; /* position de l'icône dans la bannière */	
} 

.container-restaurant {
	display: flex;
	flex-direction: column;
	/*border-radius: 25px 25px 0 0 ;*/
	background-color: transparent;
	margin-top: -30px;
	overflow: hidden;
	.restaurant-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%; /* utilise toute la largeur */
		box-sizing: border-box; /* 'box-sizing: border-box' englobe le padding et les bordures dans la largeur totale pour
		pas que cela dépasse la largeur définie */
	 
		border-radius: 25px 25px 0 0 ;
		padding: 5px;
		font-family: $shrikhand-font;
		font-size: 28px;
		color: $black-font-color;
		background-color: $grey-label-background;	
	
		h4{
			font-size: 28px;
			font-weight: 400;
			margin: 0;
		}

		.btn-heart{
			display: flex;
			gap: 5px;
		
			i{
			font-size: 20px;
			color: black;
			padding-right: 0px;
			}

			.btn-heart--solid{
				color: transparent;
			}

			&:hover
			.btn-heart--solid{
				color: $purple-dark;
			}
		}
	}
	.menu__lists {
		width: 100%;
		background-color: $grey-label-background;
		padding: 12px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		box-sizing: border-box;	
	}
		.menu__list{
			margin: -30px 0;

			h3{
				font-family: $roboto-font;
				font-weight: 300;
				font-size: 16px;
				position: relative; /* position de la ligne par rapport au titre */
				margin-bottom: 15px;  /*espace sous le titre */
				padding-top: 20px;
				display: inline-block; /* position de la ligne par rapport au titre */

					&::after{
						content: "";
						position: absolute;
						bottom: -5px; /*place la ligne sous le texte */
						left: 0;
						width: 40px;  /* longueur de la ligne */
						height: 3px;  /* largeur de la ligne */
						background-color: $under-line-color;
						border-radius: 2px; /* leger arrondit des bords de la ligne */
					}
			}
			.lists {
				
				.list{
					box-shadow: $box-shadow;
					padding: 0px 0px 0px 10px;
					height: 74px;
					overflow: hidden;
					&:hover .list__order{
						margin-right: 0px;
						animation: show-check 0.7s ease-in-out;
					}
					
					
					.list__content{
						h5{
							font-family: $roboto-font;
							font-weight: 500;
							font-size: 18px;
							margin: 10px 0 5px 0;
						
						}
						.list__subtitle{
							color: $black-font-color;
							font-family: $roboto-font;
							font-weight: 300;
							font-size: 16px;
							position: relative;
							top: -5px;
							display: block;
							margin-bottom: 10px;
						}
					}
					
					/* NE FONCTIONNE PAS	
						
					.list__price {
						color: red;
						
					} */
					.list__order{
						padding-left: 2px;
						height: 100%;
						background-color: $under-line-color;
						width: 60px;
						margin-right: -62px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 0 15px 15px 0px;
						
					}
						
					
				}
			}
		}

		
	.menu__button {
		@include btn-main;
		padding: 0px 0px;
		margin-bottom: 30px;
		margin-top: 60px;
		background-color: transparent;
		//box-shadow: $box-shadow;
	}
}
}
.footer{
	padding: 10px 20px; 
	h2{
	padding-top: 0;
	padding-bottom: 0;
	}
}




