@import "../variables";
@import "../layouts/arrow";
@import "../layouts/mixins";
@import "../layouts/title";
@import "../layouts/keyframes";
@import "../layouts/heart";


body {
	margin: 0;
}


main {
	display: flex;
	flex-direction: column;
	
.banner {
	width: 100%;
	//position: relative; /* position de l'icône dans la bannière */	
} 

.container-restaurant {
	display: flex;
	flex-direction: column;
	//border-radius: 25px 25px 0 0 ;
	background-color: transparent;
	margin-top: -30px;
	overflow: hidden;
	.restaurant-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%; // utilise toute la largeur 
		box-sizing: border-box; // "box-sizing: border-box" englobe le padding + les bordures dans la largeur totale pour ne pas dépasser la largeur définie 
		border-radius: 25px 25px 0 0 ;
		padding: 5px;
		font-family: $shrikhand-font;
		font-size: 28px;
		color: $black-font-color;
		background-color: $grey-label-background;	
		h4{
			font-size: 28px;
			font-weight: 400;
			margin: 0;
		}
		//.heart-checkbox{
		//	display: none;
		//  }
		  //.btn-heart {
			//position: relative;
			//display: flex;
			//justify-content: center;
			//align-items: center;
			//cursor: pointer;
			// Le bouton "cœur" est un élément flexible avec alignement centré.
		  //}
		  
		  //}
		/*.btn-hearts{
			position: relative; // pour alignement correct
			//display: flex;
			//gap: 5px;
			//justify-content: center;
			//align-items: center;
			cursor: pointer;
			// bouton "coeur" est 1 elemt flexible avec alignement centré.
		}
		.btn-hearts i{
			font-size: 24px;
			color: blue;
			//padding-right: 0px;
		}

		.btn-hearts i.btn-hearts--outline {
			position: absolute;
			background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
			-webkit-background-clip: text;  // -webkit
			background-clip: text;
			color: transparent;
			transform: scale(0);
			//transition: transform 0.3s ease;
		}	

		//.btn-heart--solid{
		//	color: transparent;
		//	transform: scale(1);
		//}*/

		//.btn-heart:hover .btn-heart--solid{
		//	color: $purple-dark;
		}
		

	.menu__lists {
		width: 100%;
		background-color: $grey-label-background;
		padding: 12px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		box-sizing: border-box;	
	}
		.menu__list{
			margin: -30px 0;

			h3{
				font-family: $roboto-font;
				font-weight: 300;
				font-size: 16px;
				position: relative; // position de la ligne par rapport au titre 
				margin-bottom: 15px;  // espace sous le titre 
				padding-top: 20px;
				display: inline-block; // position de la ligne par rapport au titre 

					&::after{  
						content: "";
						position: absolute;
						bottom: -5px; //place la ligne sous le texte 
						left: 0;
						width: 40px;  // longueur de la ligne 
						height: 3px;  // largeur de la ligne 
						background-color: $under-line-color;
						border-radius: 2px; // leger arrondit des bords de la ligne 
					}
			}
			.lists {
				.list{
					display: flex;
					justify-content: space-between;
					align-items: center;
					box-shadow: $box-shadow;
					padding: 0px 0px 0px 10px;
					height: 74px;
					overflow: hidden; //  cache tout contenu qui dépasse les dimensions définies ex: si contenu + large / + haut que container= coupé
				}
				
// ??? QUESTION: pourquoi les éléments d'entrées plats et desserts apparaissent en même temps alors qu'ils sont paramétrés pour apparaitre les uns à la suite des autres
				.list.fade-in {
					opacity: 0;  // définit opacité de depart à 0 
					animation: fade-in-animation 3s ease-in forwards; // applique le fondu en 3 secondes avec une accélération et reste affiché
				}
				
// nth-child selecteur CSS permet de selectionner des élémts selon leur position dans 1 liste ou un parent. EX: ":nth-child(2)" cible le 2eme enfant d'1 elemt parent
				.list.fade-in:nth-child(1) {
					animation-delay: calc(0.5s * 0); // fonction calc() permet de multiplier le délai de 0.5 s par le numéro de l'elemt (0 pour 1er élément, 1 pour 2eme ...
					}
					  
				.list.fade-in:nth-child(2) {
					animation-delay: calc(0.5s * 1);
				}
					  
				.list.fade-in:nth-child(3) {
					animation-delay: calc(0.5s * 2);
				}
					  
				.list.fade-in:nth-child(4) {
					animation-delay: calc(0.5s * 3);
				}

				.list.fade-in:nth-child(5) {
					animation-delay: calc(0.5s * 4);
				}
					  
				.list.fade-in:nth-child(6) {
					animation-delay: calc(0.5s * 5);
				}
				
				.list.fade-in:nth-child(7) {
					animation-delay: calc(0.5s * 6);
				}
				
				.list.fade-in:nth-child(8) {
					animation-delay: calc(0.5s * 7);
				}

				.list.fade-in:nth-child(9) {
					animation-delay: calc(0.5s * 8);
				}

				.list.fade-in:nth-child(10) {
					animation-delay: calc(0.5s * 9);
				}

				.list:hover .list__order{
					margin-right: 0px;
					animation: show-check 0.7s ease-in-out;
					color: white;
				}

				  @keyframes fade-in-animation {
					from {
					  opacity: 0;
					}
					to {
					  opacity: 1;
					}
				  }

					.list__content{
						h5{  //list_title
							font-family: $roboto-font;
							font-weight: 500;
							font-size: 18px;
							margin: 10px 0 5px 0;
							white-space: nowrap;  // empeche texte de se diviser sur plusieurs lignes 
  							overflow: hidden;  // cache le texte qui dépasse du conteneur 
  							text-overflow: ellipsis;  // affiche ... à la fin si txt trop long 
  							width: 250px; // ajuste la largeur -- verifier que container a 1 largeur fixe ou relative 
						}
						.list__subtitle{
							color: $black-font-color;
							font-family: $roboto-font;
							font-weight: 300;
							font-size: 16px;
							position: relative; // positionne elemt par rapport à sa position normale en laissant de la place à son emplacement d'origine
							top: -5px;
							display: block;  // elemt occupe toute la largeur dispo et s'affiche comme un bloc (inline ne prend que la place du contenu).							
							margin-bottom: 10px;
						}
					}		
					.list__price {
						//height: 18px;
						//width: 18px;
						font-weight: 700;
						font-size: 16px;
						font-family: $roboto-font;
						margin-left: auto;  //pousse les prix à droite
						//padding-bottom: 16px;
						color: #353535;
						margin-right: 10px; // assure l'espace à droite de 10px
					} 
					.list__order{
						padding-left: 2px;
						height: 100%;
						background-color: $under-line-color;
						width: 60px;
						margin-right: -62px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 0 15px 15px 0px;	
					}
				}
			}
			
	.menu__button {
		@include btn-main;
		//padding: 0px 0px;
		margin-bottom: 30px;
		margin-top: 60px;
		//background-color: transparent;
		//box-shadow: $box-shadow;
	}
}
}
.footer{
	padding: 10px 20px; 
	h2{
	padding-top: 0;
	padding-bottom: 0;
	}
}




