@import '../variables';

.banner a {
    text-decoration: none; // supprime soulignement du lien 
  }
  

.banner__icon {
    position: absolute; // position absolue dans la bannière 
    top: 15px;  // distance en haut de la bannière 
    left: 20px; // distance à gauche de la bannière 
    font-size: 24px; // taille de l'icône 
    color: $black-font-color; // couleur de l'icône 
    z-index: 10; // icône apparaît au-dessus de l'image de la bannière 
    cursor: pointer; // change le curseur en icône de main au survol 
}