@import '../variables';

footer {
    display: flex;  // inblock par defaut -> inline
    flex-direction: column;  //affiche les element en colonne
    background-color: #353535;
    padding: 16px 32px;
    color: white;
  
    h2 {
        font-family: "Shrikhand";
        font-weight: 400;	
        font-size: 18px;
    }
    .footer-element{
      display: flex;
      flex-direction: column;
    }

    p {
    font-family: $roboto-font;
    padding-top: 5px;
    padding-left: 0px;
    margin: 0px;
    display: flex;
    gap: 10px;
    font-weight: 400;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 16px;
    
    i {
        color: white;
        width: 20px;
    }
    }

    a {
    text-decoration: none;  // enleve la décorat° du txt (soulignement)
    color: inherit;         // utilise la meme couleur que le txt environnant
    }
}


/* style pour footer mode desktop*/
@media (min-width: 768px)  {
    .footer {
        flex-direction: row-reverse; /* affiche les éléments du footer en ligne et les inverse */
        align-items: flex-end; /* aligne les éléments du footer en bas */
        gap: 15px; /* espace entre les éléments du footer */
        
      
      .footer-element{
      flex-direction: row;  /* affiche les éléments enfants du footer en ligne */
      gap: 20px;  /* espace entre les éléments enfants du footer */
    }
    } 
}