@import "../variables";

footer {
	background-color: #353535;
	padding: 16px 32px;
	color: white;
    margin-top: auto;
    
h2 {
		font-family: "Shrikhand";
		font-weight: 400;	
		font-size: 18px;
	}
p {
	//padding: 1rem 0;
    text-decoration: none;
	font-size: 16px;
}
a {
    text-decoration: none;  // Enlever la décoration du texte (soulignement)
    color: inherit;         // Utiliser la même couleur que le texte environnant
}
}
