@import "../variables";

header {
	font-family: $shrikhand-font;
	text-align: center;
	justify-content: center;
	box-shadow: $box-shadow;
	margin: 0;
	height: 63px; // hauteur de la banniere
	display: flex;
	align-items: center;
	position: relative;	// là ou il se trouve nativement 
	z-index: 20;
	
	
}