@import '../variables';

//new

 /*newcard {
    position: absolute;  // permet d'utiliser right, top... pour plus précis //
    right: 15px;
    top: 15px;
    background: $nouveau-card-color;
    border-radius: 2px;
    &__text{
        display: block;
        font-size: 15px;
        text-align: center;
        padding: 8px;
    }
}*/
 