@import "../variables";


/*list__price {
    font-weight: 700;
    font-size: 16px;
    font-family: $roboto-font;
    margin-left: auto; // pousse les prix à droite //
    color: #353535;
    margin-right: 10px; // assure l'espace à droite de 10px //
} */
