button {
  color: white;
  font-weight: 400;
  padding: 1rem 2rem;
  margin-bottom: -10px;
  margin-top: 10px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Roboto";
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: transform 200ms;
}
button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
  margin-top: auto;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
}
footer p {
  text-decoration: none;
  font-size: 16px;
}
footer a {
  text-decoration: none;
  color: inherit;
}

newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
newcard__text {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: black;
  padding: 8px;
}

grey-background {
  background: #e9e9e9;
}

.restaurant__titles {
  font-weight: 700;
  font-size: 24px;
  padding: 0px 0 10px 20px;
  margin: 0;
}
.restaurant-inserts {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restaurant-card {
  position: relative;
  background: white;
  height: 250px;
  border-radius: 20px;
  margin: 10px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurant-card__link {
  text-decoration: none;
  color: black;
}
.restaurant-card-picture {
  overflow: hidden;
  height: 70%;
}
.restaurant-card-picture__img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-card-newcard newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
.restaurant-card-newcard newcard__text {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: black;
  padding: 8px;
}
.restaurant-card-heading__title title {
  margin: 15px 0px 5px 15px;
  font-weight: 700;
  font-size: 18px;
}
.restaurant-card-heading__place subtitle {
  margin: 0px 0px 0px 15px;
  font-weight: 300;
  font-size: 17px;
}
.restaurant-card .hoverheart:hover .hoverheart__content-solid {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.restaurant-card .hoverheart:hover .hoverheart__content-light {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.restaurant-card .hoverheart__content-solid {
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.restaurant-card .hoverheart__content-solid heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.restaurant-card .hoverheart__content-light {
  opacity: 1;
}
.restaurant-card .hoverheart__content-light heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
}

* {
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.main .searchbar {
  text-align: center;
  justify-content: center;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 17px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #353535;
  position: relative;
  z-index: 10;
}
.main .searchbar i {
  font-weight: 900;
  font-size: 12px;
  color: #353535;
  height: 50px;
}
.main .searchbar h2 {
  font-size: 16px;
  font-weight: 400;
  color: #353535;
}

.searchbar {
  height: 50px;
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  background-color: #eaeaea;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.searchbar i {
  color: #353535;
  width: 10px;
  font-size: 14px;
}

.description {
  padding-bottom: 40px;
  background-color: #f6f6f6;
  text-align: center;
}
.description h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 32px;
  font-family: "Roboto";
  font-style: #353535;
}
.description p {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: #353535;
}

.explain-content {
  height: 220px;
  background-color: #e9e9e9;
  font-family: "Roboto";
}

.process {
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
.process .container {
  margin-right: 20px;
  padding: 10px;
  width: 100%;
}
.process h2 {
  margin-bottom: 20px;
  text-align: left;
}
.process ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}
.process li {
  padding: 1rem 2rem;
  background-color: #f6f6f6;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 2px 1px 8px -3px;
  display: flex;
  align-items: center;
}
.process li i.fas {
  padding-right: 20px;
  color: #7e7e7e;
}

.process__steps {
  padding: 0;
}
.process__steps .process__label {
  width: 90%;
}
.process__steps .process__label .process__number {
  margin-right: 10px;
  color: white;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  left: -40px;
}

.process__label {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.process__icon {
  margin-left: -10px;
}

.card {
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  height: 100%;
}

.img__card {
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  font-style: "Roboto";
  font-size: 18px;
  font-weight: 700;
}

.card-subtitle {
  padding: 8px 0;
  font-size: 17px;
  font-weight: 300;
  font-style: "Roboto";
}

.restaurants {
  width: 100;
  flex-direction: column;
  gap: 17px;
}

.restaurant__title {
  background-color: #e9e9e9;
  margin: 20px;
}

.restaurant-inserts {
  background-color: #e9e9e9;
}

.restaurants-level {
  display: flex;
  justify-content: space-between;
}

.link__card-restaurant {
  width: 100%;
}

.restaurants-card {
  display: flex;
  flex-direction: column;
}

.img-restaurants {
  width: 100%;
  height: 124px;
  border-radius: 20px;
}

.card__content-restaurants {
  margin-top: 10px;
  padding: 0 15px;
}

button {
  color: white;
  font-weight: 400;
  padding: 1rem 2rem;
  margin-bottom: -10px;
  margin-top: 10px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Roboto";
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: transform 200ms;
}
button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
  margin-top: auto;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
}
footer p {
  text-decoration: none;
  font-size: 16px;
}
footer a {
  text-decoration: none;
  color: inherit;
}

newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
newcard__text {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: black;
  padding: 8px;
}

grey-background {
  background: #e9e9e9;
}

.restaurant__titles {
  font-weight: 700;
  font-size: 24px;
  padding: 0px 0 10px 20px;
  margin: 0;
}
.restaurant-inserts {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restaurant-card {
  position: relative;
  background: white;
  height: 250px;
  border-radius: 20px;
  margin: 10px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurant-card__link {
  text-decoration: none;
  color: black;
}
.restaurant-card-picture {
  overflow: hidden;
  height: 70%;
}
.restaurant-card-picture__img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-card-newcard newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
.restaurant-card-newcard newcard__text {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: black;
  padding: 8px;
}
.restaurant-card-heading__title title {
  margin: 15px 0px 5px 15px;
  font-weight: 700;
  font-size: 18px;
}
.restaurant-card-heading__place subtitle {
  margin: 0px 0px 0px 15px;
  font-weight: 300;
  font-size: 17px;
}
.restaurant-card .hoverheart:hover .hoverheart__content-solid {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.restaurant-card .hoverheart:hover .hoverheart__content-light {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.restaurant-card .hoverheart__content-solid {
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.restaurant-card .hoverheart__content-solid heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.restaurant-card .hoverheart__content-light {
  opacity: 1;
}
.restaurant-card .hoverheart__content-light heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
}

body {
  color: #000;
}

.page-resto header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}
.page-resto img {
  display: block;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.page-resto resto__title {
  padding: 0 1rem;
  margin-top: -2rem;
}
.page-resto resto__title h1,
.page-resto resto__title h2,
.page-resto resto__title h3,
.page-resto resto__title h4,
.page-resto resto__title h5,
.page-resto resto__title p {
  padding: 0;
  margin: 0;
}
.page-resto resto__title p {
  background-color: #f6f6f6;
  font-family: "Shrikhand";
  padding: 2rem 1rem;
  position: relative;
  width: 100%;
  border-radius: 2rem 1rem;
}
.page-resto .menu-list {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 400px;
  grid-template-columns: 1fr;
}
.page-resto .menu__category {
  border-radius: 1rem;
  background-color: white;
}
.page-resto .menu__category .menu-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
.page-resto .menu__category .menu-item .menu-item__prix {
  margin-left: auto;
  font-weight: 900;
}
.page-resto .menu__category .menu-item .menu-item__check {
  background-color: #52a591;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  display: grid;
  place-items: center;
}
.page-resto .menu__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
}
.page-resto .menu__category .menu-item :hover .menu-item__check {
  margin-right: 0;
}

.resto-main {
  padding: 0 2rem;
  background-color: #f6f6f6;
}

button {
  color: white;
  font-weight: 400;
  padding: 1rem 2rem;
  margin-bottom: -10px;
  margin-top: 10px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Roboto";
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: transform 200ms;
}
button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
  margin-top: auto;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
}
footer p {
  text-decoration: none;
  font-size: 16px;
}
footer a {
  text-decoration: none;
  color: inherit;
}

newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
newcard__text {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: black;
  padding: 8px;
}

grey-background {
  background: #e9e9e9;
}

.restaurant__titles {
  font-weight: 700;
  font-size: 24px;
  padding: 0px 0 10px 20px;
  margin: 0;
}
.restaurant-inserts {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restaurant-card {
  position: relative;
  background: white;
  height: 250px;
  border-radius: 20px;
  margin: 10px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurant-card__link {
  text-decoration: none;
  color: black;
}
.restaurant-card-picture {
  overflow: hidden;
  height: 70%;
}
.restaurant-card-picture__img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-card-newcard newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
.restaurant-card-newcard newcard__text {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: black;
  padding: 8px;
}
.restaurant-card-heading__title title {
  margin: 15px 0px 5px 15px;
  font-weight: 700;
  font-size: 18px;
}
.restaurant-card-heading__place subtitle {
  margin: 0px 0px 0px 15px;
  font-weight: 300;
  font-size: 17px;
}
.restaurant-card .hoverheart:hover .hoverheart__content-solid {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.restaurant-card .hoverheart:hover .hoverheart__content-light {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.restaurant-card .hoverheart__content-solid {
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.restaurant-card .hoverheart__content-solid heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.restaurant-card .hoverheart__content-light {
  opacity: 1;
}
.restaurant-card .hoverheart__content-light heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
}

body {
  color: #000;
}

.page-resto header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}
.page-resto img {
  display: block;
  max-width: 400px;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.page-resto resto__title {
  padding: 0 1rem;
  margin-top: -2rem;
}
.page-resto resto__title h1,
.page-resto resto__title h2,
.page-resto resto__title h3,
.page-resto resto__title h4,
.page-resto resto__title h5,
.page-resto resto__title p {
  padding: 0;
  margin: 0;
}
.page-resto resto__title p {
  background-color: #f6f6f6;
  font-family: "Shrikhand";
  padding: 2rem 1rem;
  position: relative;
  width: 100%;
  border-radius: 2rem 1rem;
}
.page-resto .menu-list {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 400px;
  grid-template-columns: 1fr;
}
.page-resto .menu__category {
  border-radius: 1rem;
  background-color: white;
}
.page-resto .menu__category .menu-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
.page-resto .menu__category .menu-item .menu-item__prix {
  margin-left: auto;
  font-weight: 900;
}
.page-resto .menu__category .menu-item .menu-item__check {
  background-color: #52a591;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  display: grid;
  place-items: center;
}
.page-resto .menu__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
}
.page-resto .menu__category .menu-item :hover .menu-item__check {
  margin-right: 0;
}

.resto-main {
  padding: 0 2rem;
  background-color: #f6f6f6;
}

button {
  color: white;
  font-weight: 400;
  padding: 1rem 2rem;
  margin-bottom: -10px;
  margin-top: 10px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Roboto";
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: transform 200ms;
}
button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
  margin-top: auto;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
}
footer p {
  text-decoration: none;
  font-size: 16px;
}
footer a {
  text-decoration: none;
  color: inherit;
}

newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
newcard__text {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: black;
  padding: 8px;
}

grey-background {
  background: #e9e9e9;
}

.restaurant__titles {
  font-weight: 700;
  font-size: 24px;
  padding: 0px 0 10px 20px;
  margin: 0;
}
.restaurant-inserts {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restaurant-card {
  position: relative;
  background: white;
  height: 250px;
  border-radius: 20px;
  margin: 10px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurant-card__link {
  text-decoration: none;
  color: black;
}
.restaurant-card-picture {
  overflow: hidden;
  height: 70%;
}
.restaurant-card-picture__img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-card-newcard newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
.restaurant-card-newcard newcard__text {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: black;
  padding: 8px;
}
.restaurant-card-heading__title title {
  margin: 15px 0px 5px 15px;
  font-weight: 700;
  font-size: 18px;
}
.restaurant-card-heading__place subtitle {
  margin: 0px 0px 0px 15px;
  font-weight: 300;
  font-size: 17px;
}
.restaurant-card .hoverheart:hover .hoverheart__content-solid {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.restaurant-card .hoverheart:hover .hoverheart__content-light {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.restaurant-card .hoverheart__content-solid {
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.restaurant-card .hoverheart__content-solid heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.restaurant-card .hoverheart__content-light {
  opacity: 1;
}
.restaurant-card .hoverheart__content-light heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
}

body {
  color: #000;
}

.page-resto header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}
.page-resto img {
  display: block;
  max-width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.page-resto resto__title {
  padding: 0 1rem;
  margin-top: -2rem;
}
.page-resto resto__title h1,
.page-resto resto__title h2,
.page-resto resto__title h3,
.page-resto resto__title h4,
.page-resto resto__title h5,
.page-resto resto__title p {
  padding: 0;
  margin: 0;
}
.page-resto resto__title p {
  background-color: #f6f6f6;
  font-family: "Shrikhand";
  padding: 2rem 1rem;
  position: relative;
  width: 100%;
  border-radius: 2rem 1rem;
}
.page-resto .menu-list {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 400px;
  grid-template-columns: 1fr;
}
.page-resto .menu__category {
  border-radius: 1rem;
  background-color: white;
}
.page-resto .menu__category .menu-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
.page-resto .menu__category .menu-item .menu-item__prix {
  margin-left: auto;
  font-weight: 900;
}
.page-resto .menu__category .menu-item .menu-item__check {
  background-color: #52a591;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  display: grid;
  place-items: center;
}
.page-resto .menu__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
}
.page-resto .menu__category .menu-item :hover .menu-item__check {
  margin-right: 0;
}

.resto-main {
  padding: 0 2rem;
  background-color: #f6f6f6;
}

button {
  color: white;
  font-weight: 400;
  padding: 1rem 2rem;
  margin-bottom: -10px;
  margin-top: 10px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Roboto";
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: transform 200ms;
}
button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
  margin-top: auto;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
}
footer p {
  text-decoration: none;
  font-size: 16px;
}
footer a {
  text-decoration: none;
  color: inherit;
}

newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
newcard__text {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: black;
  padding: 8px;
}

grey-background {
  background: #e9e9e9;
}

.restaurant__titles {
  font-weight: 700;
  font-size: 24px;
  padding: 0px 0 10px 20px;
  margin: 0;
}
.restaurant-inserts {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restaurant-card {
  position: relative;
  background: white;
  height: 250px;
  border-radius: 20px;
  margin: 10px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurant-card__link {
  text-decoration: none;
  color: black;
}
.restaurant-card-picture {
  overflow: hidden;
  height: 70%;
}
.restaurant-card-picture__img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-card-newcard newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
.restaurant-card-newcard newcard__text {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: black;
  padding: 8px;
}
.restaurant-card-heading__title title {
  margin: 15px 0px 5px 15px;
  font-weight: 700;
  font-size: 18px;
}
.restaurant-card-heading__place subtitle {
  margin: 0px 0px 0px 15px;
  font-weight: 300;
  font-size: 17px;
}
.restaurant-card .hoverheart:hover .hoverheart__content-solid {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.restaurant-card .hoverheart:hover .hoverheart__content-light {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.restaurant-card .hoverheart__content-solid {
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.restaurant-card .hoverheart__content-solid heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.restaurant-card .hoverheart__content-light {
  opacity: 1;
}
.restaurant-card .hoverheart__content-light heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
}

body {
  color: #000;
}

#page-resto header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}
#page-resto img {
  display: block;
  max-width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
#page-resto resto__title {
  padding: 0 1rem;
  margin-top: -2rem;
}
#page-resto resto__title h1,
#page-resto resto__title h2,
#page-resto resto__title h3,
#page-resto resto__title h4,
#page-resto resto__title h5,
#page-resto resto__title p {
  padding: 0;
  margin: 0;
}
#page-resto resto__title p {
  background-color: #f6f6f6;
  font-family: "Shrikhand";
  padding: 2rem 1rem;
  position: relative;
  width: 100%;
  border-radius: 2rem 1rem;
}
#page-resto .menu-list {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 400px;
  grid-template-columns: 1fr;
}
#page-resto .menu__category {
  border-radius: 1rem;
  background-color: white;
}
#page-resto .menu__category .menu-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item .menu-item__prix {
  margin-left: auto;
  font-weight: 900;
}
#page-resto .menu__category .menu-item .menu-item__check {
  background-color: #52a591;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  display: grid;
  place-items: center;
}
#page-resto .menu__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
}
#page-resto .menu__category .menu-item :hover .menu-item__check {
  margin-right: 0;
}

.resto-main {
  padding: 0 2rem;
  background-color: #f6f6f6;
}

button {
  color: white;
  font-weight: 400;
  padding: 1rem 2rem;
  margin-bottom: -10px;
  margin-top: 10px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Roboto";
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: transform 200ms;
}
button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
  margin-top: auto;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
}
footer p {
  text-decoration: none;
  font-size: 16px;
}
footer a {
  text-decoration: none;
  color: inherit;
}

newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
newcard__text {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: black;
  padding: 8px;
}

grey-background {
  background: #e9e9e9;
}

.restaurant__titles {
  font-weight: 700;
  font-size: 24px;
  padding: 0px 0 10px 20px;
  margin: 0;
}
.restaurant-inserts {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restaurant-card {
  position: relative;
  background: white;
  height: 250px;
  border-radius: 20px;
  margin: 10px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurant-card__link {
  text-decoration: none;
  color: black;
}
.restaurant-card-picture {
  overflow: hidden;
  height: 70%;
}
.restaurant-card-picture__img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-card-newcard newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
.restaurant-card-newcard newcard__text {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: black;
  padding: 8px;
}
.restaurant-card-heading__title title {
  margin: 15px 0px 5px 15px;
  font-weight: 700;
  font-size: 18px;
}
.restaurant-card-heading__place subtitle {
  margin: 0px 0px 0px 15px;
  font-weight: 300;
  font-size: 17px;
}
.restaurant-card .hoverheart:hover .hoverheart__content-solid {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.restaurant-card .hoverheart:hover .hoverheart__content-light {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.restaurant-card .hoverheart__content-solid {
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.restaurant-card .hoverheart__content-solid heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.restaurant-card .hoverheart__content-light {
  opacity: 1;
}
.restaurant-card .hoverheart__content-light heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
}