@charset "UTF-8";
header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
  font-family: "Roboto";
}

section {
  padding: 50px 20px;
}

.container {
  margin: auto;
}

.container--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start; /* Aligne les éléments enfants en haut (start) du conteneur Flexbox. */
}

.footer {
  background-color: #353535;
  padding: 30px 20px;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer__logo {
  font-family: "Shrikhand";
  font-size: 20px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: "Roboto";
}

.footer__icon {
  color: #fff;
  margin-right: 8px;
}

.header__logo {
  font-family: "Shrikhand";
  font-size: 30px;
  text-decoration: none;
  color: #101010;
}

.heart-checkbox {
  display: none;
}

.btn-heart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-heart--outline {
  position: absolute;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 0.3s ease;
}

/*.btn-heart--solid {
  position: absolute;
  background: linear-gradient(180deg, $gradient-button 100%);
  background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 0.3s;
}*/
/*.btn-heart:hover .btn-heart--solid {
  transform: scale(1); /* Cœur plein visible au survol 
}*/
.btn-heart:hover {
  cursor: pointer;
}

.btn-heart:hover .btn-heart--outline {
  transform: scale(1);
}

.btn-heart:hover .btn-heart--outline {
  background: linear-gradient(180deg, linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218)) 100%);
  background-clip: text;
  color: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}

.btn {
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 15px 22px;
  border-radius: 50px;
  font-family: "Roboto";
}

.location {
  background-color: #eaeaea;
  color: #353535;
  padding: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location__text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
}

.location__icon {
  margin-right: 15px;
}

.explain {
  text-align: center;
  padding: 40px 20px 70px;
  background-color: #f6f6f6;
}

.explain__subtitle {
  font-size: 18px;
  font-weight: 300;
  padding: 12px 0 30px;
  margin-top: 0;
  font-family: "Roboto";
}

.process {
  background-color: #fff;
}

.process__steps {
  padding: 25px 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.process__step {
  background-color: #f6f6f6;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-weight: 500;
  padding: 28px 35px;
  display: flex;
  margin: 0 14px;
  font-family: "Roboto";
}

.process__number {
  background-color: #9356DC;
  color: #fff;
  font-size: 14px;
  position: absolute;
  padding: 4px 9px;
  border-radius: 50px;
  margin-left: -50px;
}

.process__icon {
  color: #7e7e7e;
  font-size: 20px;
  margin-right: 25px;
}

.restaurants {
  background-color: #f6f6f6;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 0 0;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: #000;
  position: relative;
}

.card__new {
  background-color: #99E2D0;
  color: #008766;
  border-radius: 3px;
  padding: 6px 12px;
  position: absolute;
  top: 12px;
  right: 12px;
  font-family: "Roboto";
}

.card__image {
  display: flex;
}

.card__image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card__title {
  font-size: 18px;
  margin: 0 0 5px;
  font-family: "Roboto";
}

.card__subtitle {
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto";
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 15px;
}

.card__icon {
  font-size: 24px;
}

.banner img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.menu {
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -50px;
}

.menu__header {
  font-family: "Shrikhand";
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #101010;
}

.menu__icon {
  font-size: 24px;
  margin-right: 20px;
}

.menu__lists {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.menu__list {
  margin: 30px 0 0 28px;
  width: 100%;
}

.menu__list:first-child { /* Cette règle supprime la marge à gauche uniquement pour le premier élément de la liste .menu__list. */
  margin-left: 0;
}

.menu__list h3 {
  font-size: 16px;
  font-weight: 300;
  position: relative;
  margin: 20px 0 22px 6px;
}

.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 0 8px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  padding: 12px 22px 12px 10px;
  margin-bottom: 14px;
}

.banner a {
  text-decoration: none; /* Supprime le soulignement du lien */
}

.banner__icon {
  position: absolute; /* Position absolue dans la bannière */
  top: 15px; /* Distance en haut de la bannière */
  left: 20px; /* Distance à gauche de la bannière */
  font-size: 24px; /* Taille de l'icône */
  color: #101010; /* Couleur de l'icône */
  z-index: 10; /* icône apparaît au-dessus de l'image de la bannière */
  cursor: pointer; /* Change le curseur en icône de main au survol */
}
.banner__icon:hover {
  color: #9356DC; /* Couleur de l'icône au survol (ici jaune) */
}

title {
  margin: 15px 0px 5px 15px;
  font-weight: 400;
  font-size: 30px;
}

@keyframes show-check {
  0% {
    margin-right: -62px;
  }
  100% {
    margin-right: 0;
  }
}
body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}
main .banner {
  width: 100%;
}
main .container-restaurant {
  display: flex;
  flex-direction: column;
  /*border-radius: 25px 25px 0 0 ;*/
  background-color: transparent;
  margin-top: -30px;
  overflow: hidden;
}
main .container-restaurant .restaurant-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* utilise toute la largeur */
  box-sizing: border-box; /* 'box-sizing: border-box' englobe le padding et les bordures dans la largeur totale pour
pas que cela dépasse la largeur définie */
  border-radius: 25px 25px 0 0;
  padding: 5px;
  font-family: "Shrikhand";
  font-size: 28px;
  color: #101010;
  background-color: #f6f6f6;
  /*.btn-heart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // Le bouton "cœur" est un élément flexible avec alignement centré.
   }*/
  /*.btn-heart--outline {
  position: absolute;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 0.3s ease;
   }*/
}
main .container-restaurant .restaurant-title h4 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
main .container-restaurant .restaurant-title .heart-checkbox {
  display: none;
}
main .container-restaurant .restaurant-title .btn-heart {
  display: flex;
  gap: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .container-restaurant .restaurant-title .btn-heart .btn-heart--outline {
  position: absolute;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 0.3s ease;
}
main .container-restaurant .restaurant-title .btn-heart .btn-heart--outline i {
  font-size: 20px;
  color: black;
  padding-right: 0px;
}
main .container-restaurant .restaurant-title .btn-heart .btn-heart--outline .btn-heart--solid {
  color: transparent;
}
main .container-restaurant .restaurant-title .btn-heart .btn-heart--outline:hover .btn-heart--solid {
  color: #9356DC;
}
main .container-restaurant .restaurant-title .menu__lists {
  width: 100%;
  background-color: #f6f6f6;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}
main .container-restaurant .restaurant-title .menu__list {
  margin: -30px 0;
}
main .container-restaurant .restaurant-title .menu__list h3 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  position: relative; /* position de la ligne par rapport au titre */
  margin-bottom: 15px; /*espace sous le titre */
  padding-top: 20px;
  display: inline-block; /* position de la ligne par rapport au titre */
}
main .container-restaurant .restaurant-title .menu__list h3::after {
  content: "";
  position: absolute;
  bottom: -5px; /*place la ligne sous le texte */
  left: 0;
  width: 40px; /* longueur de la ligne */
  height: 3px; /* largeur de la ligne */
  background-color: #99E2D0;
  border-radius: 2px; /* leger arrondit des bords de la ligne */
}
main .container-restaurant .restaurant-title .menu__list .lists .list {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0px 0px 0px 10px;
  height: 74px;
  overflow: hidden;
  /* NE FONCTIONNE PAS	

  .list__price {
  	color: red;

  } */
}
main .container-restaurant .restaurant-title .menu__list .lists .list:hover .list__order {
  margin-right: 0px;
  animation: show-check 0.7s ease-in-out;
  color: white;
}
main .container-restaurant .restaurant-title .menu__list .lists .list .list__content h5 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0 5px 0;
}
main .container-restaurant .restaurant-title .menu__list .lists .list .list__content .list__subtitle {
  color: #101010;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  position: relative;
  top: -5px;
  display: block;
  margin-bottom: 10px;
}
main .container-restaurant .restaurant-title .menu__list .lists .list .list__order {
  padding-left: 2px;
  height: 100%;
  background-color: #99E2D0;
  width: 60px;
  margin-right: -62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0px;
}
main .container-restaurant .restaurant-title .menu__button {
  color: white;
  font-weight: 400;
  padding: 16px 32px;
  margin-bottom: -10px;
  margin-top: 5px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Roboto";
  padding: 0px 0px;
  margin-bottom: 30px;
  margin-top: 60px;
  background-color: transparent;
}
main .footer {
  padding: 10px 20px;
}
main .footer h2 {
  padding-top: 0;
  padding-bottom: 0;
}

.banner a {
  text-decoration: none; /* Supprime le soulignement du lien */
}

.banner__icon {
  position: absolute; /* Position absolue dans la bannière */
  top: 15px; /* Distance en haut de la bannière */
  left: 20px; /* Distance à gauche de la bannière */
  font-size: 24px; /* Taille de l'icône */
  color: #101010; /* Couleur de l'icône */
  z-index: 10; /* icône apparaît au-dessus de l'image de la bannière */
  cursor: pointer; /* Change le curseur en icône de main au survol */
}
.banner__icon:hover {
  color: #9356DC; /* Couleur de l'icône au survol (ici jaune) */
}

newcard {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}
newcard__text {
  display: block;
  font-size: 15px;
  text-align: center;
  color: black;
  padding: 8px;
}

heart {
  font-size: 1.5rem;
  position: absolute;
  justify-content: right;
  bottom: 25px;
}

title {
  margin: 15px 0px 5px 15px;
  font-weight: 400;
  font-size: 30px;
}

subtitle {
  margin: 0px 0px 0px 15px;
  font-weight: 300;
  font-size: 17px;
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
}
footer p {
  font-family: "Roboto";
  padding-top: 5px;
  padding-left: 0px;
  margin: 0px;
  display: flex;
  gap: 10px;
  font-weight: 400;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
}
footer p i {
  color: white;
  width: 20px;
}
footer a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=styles.css.map */
