*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  margin: 10px;
}

.main .location {
  background-color: #eaeaea;
  text-align: center;
  justify-content: center;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 17px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #353535;
  position: relative;
  z-index: 10;
}
.main .location i {
  font-weight: 900;
  font-size: 12px;
  color: #353535;
  height: 50px;
}
.main .location h2 {
  font-size: 16px;
  font-weight: 400;
  color: #353535;
}

.location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}
.location i {
  color: #353535;
  width: 10px;
  font-weight: 500;
  font-size: 14px;
}

.description {
  text-align: center;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
.description .explain-content {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.description h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: -20px;
  margin-top: 2rem;
  font-family: "Roboto";
  padding-bottom: 50px;
}
.description p {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

.explain-content {
  height: 220px;
  background-color: #e9e9e9;
  font-family: "Roboto";
}

.process {
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
.process .container {
  margin-right: 20px;
  padding: 10px;
}
.process h2 {
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}
.process ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}
.process li {
  padding: 1rem 2rem;
  background-color: #f6f6f6;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 2px 1px 8px -3px;
  display: flex;
  align-items: center;
}
.process li i.fas {
  padding-right: 20px;
  color: #7e7e7e;
}

.process__steps {
  padding: 0;
}
.process__steps .process__step .process__number {
  margin-right: 10px;
  color: white;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  left: -40px;
}

.process__step {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.process__icon {
  margin-left: -10px;
}

main {
  padding: 0 0rem;
}

.menus {
  background-color: #ececec;
  margin-bottom: 2rem;
  padding: 0 1rem;
}
.menus h2 {
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
}

.menus__cards {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.new {
  border: 1px solid purple;
  position: relative;
  padding: 140px;
}

new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 2rem;
  background-color: #99E2D0;
}

.cards {
  height: 4rem;
  display: flex;
  min-width: 10rem;
  margin-bottom: 2rem;
  margin: 10px;
  border-radius: 1rem 1rem 0 0;
  border: 1px solid red;
  padding: 140px;
}
.cards__image {
  height: 15rem;
  background-size: cover;
}
.cards__image__image-1 {
  background-image: url("../../assets/menu1.jpg");
}
.cards__image__image-1__image-2 {
  background-image: url("../../assets/menu2.jpg");
}
.cards__image__image-1__image-2__image-3 {
  background-image: url("../../assets/menu3.jpg");
}
.cards__image__image-1__image-2__image-3__image-4 {
  background-image: url("../../assets/menu4.jpg");
}
.cards__image h2 {
  margin-bottom: 1rem;
  padding: 25px;
  font-family: "Roboto";
  background-color: #ececec;
}
.cards .menus__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media (max-width: 400px) {
  .cards .menus__cards {
    grid-template-columns: repeat(1 1fr);
  }
}
.cards .menus__cards .new {
  position: relative;
}
.cards .menus__cards::before {
  content: "nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  min-width: 2rem;
  background-color: #99E2D0;
  font-family: "Roboto";
  color: black;
  display: grid;
  right: 1rem;
  top: 1rem;
}
.cards h3,
.cards p {
  margin: 0;
}
.cards a {
  text-decoration: none;
  color: inherit;
}

.cards {
  height: 4rem;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  gap: 17rem;
  min-width: 10rem;
  margin: 20px;
  border-radius: 1rem 1rem 0 0;
}
.cards__image {
  height: 15rem;
  border-radius: 1rem;
  background-size: cover;
}
.cards__description {
  background-color: white;
  position: relative;
  border-radius: 0 0 1rem 1rem;
}
.cards__description p,
.cards__description h3 {
  padding: 0.3rem;
}
.cards__description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 500;
}
footer p {
  padding: 1rem 0;
}

body {
  color: #000;
}

#page-resto header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}
#page-resto img {
  display: block;
  max-width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
#page-resto resto__title {
  padding: 0 1rem;
  margin-top: -2rem;
}
#page-resto resto__title h1,
#page-resto resto__title h2,
#page-resto resto__title h3,
#page-resto resto__title h4,
#page-resto resto__title h5,
#page-resto resto__title p {
  padding: 0;
  margin: 0;
}
#page-resto resto__title p {
  background-color: #f6f6f6;
  font-family: "Shrikhand";
  padding: 2rem 1rem;
  position: relative;
  width: 100%;
  border-radius: 2rem 1rem;
}
#page-resto .menus {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 400px;
  grid-template-columns: 1fr;
}
#page-resto .menu__category {
  border-radius: 1rem;
  background-color: white;
}
#page-resto .menu__category .menu-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item .menu-item__prix {
  margin-left: auto;
  font-weight: 900;
}
#page-resto .menu__category .menu-item .menu-item__check {
  background-color: #52a591;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  display: grid;
  place-items: center;
}
#page-resto .menu__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
}
#page-resto .menu__category .menu-item :hover .menu-item__check {
  margin-right: 0;
}

.resto-main {
  padding: 0 2rem;
  background-color: #f6f6f6;
}

body {
  color: #000;
}

#page-resto header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}
#page-resto img {
  display: block;
  max-width: 400px;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
#page-resto resto__title {
  padding: 0 1rem;
  margin-top: -2rem;
}
#page-resto resto__title h1,
#page-resto resto__title h2,
#page-resto resto__title h3,
#page-resto resto__title h4,
#page-resto resto__title h5,
#page-resto resto__title p {
  padding: 0;
  margin: 0;
}
#page-resto resto__title p {
  background-color: #f6f6f6;
  font-family: "Shrikhand";
  padding: 2rem 1rem;
  position: relative;
  width: 100%;
  border-radius: 2rem 1rem;
}
#page-resto .menus {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 400px;
  grid-template-columns: 1fr;
}
#page-resto .menu__category {
  border-radius: 1rem;
  background-color: white;
}
#page-resto .menu__category .menu-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item .menu-item__prix {
  margin-left: auto;
  font-weight: 900;
}
#page-resto .menu__category .menu-item .menu-item__check {
  background-color: #52a591;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  display: grid;
  place-items: center;
}
#page-resto .menu__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
}
#page-resto .menu__category .menu-item :hover .menu-item__check {
  margin-right: 0;
}

.resto-main {
  padding: 0 2rem;
  background-color: #f6f6f6;
}

body {
  color: #000;
}

#page-resto header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}
#page-resto img {
  display: block;
  max-width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
#page-resto resto__title {
  padding: 0 1rem;
  margin-top: -2rem;
}
#page-resto resto__title h1,
#page-resto resto__title h2,
#page-resto resto__title h3,
#page-resto resto__title h4,
#page-resto resto__title h5,
#page-resto resto__title p {
  padding: 0;
  margin: 0;
}
#page-resto resto__title p {
  background-color: #f6f6f6;
  font-family: "Shrikhand";
  padding: 2rem 1rem;
  position: relative;
  width: 100%;
  border-radius: 2rem 1rem;
}
#page-resto .menus {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 400px;
  grid-template-columns: 1fr;
}
#page-resto .menu__category {
  border-radius: 1rem;
  background-color: white;
}
#page-resto .menu__category .menu-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item .menu-item__prix {
  margin-left: auto;
  font-weight: 900;
}
#page-resto .menu__category .menu-item .menu-item__check {
  background-color: #52a591;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  display: grid;
  place-items: center;
}
#page-resto .menu__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
}
#page-resto .menu__category .menu-item :hover .menu-item__check {
  margin-right: 0;
}

.resto-main {
  padding: 0 2rem;
  background-color: #f6f6f6;
}

body {
  color: #000;
}

#page-resto header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}
#page-resto img {
  display: block;
  max-width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
#page-resto resto__title {
  padding: 0 1rem;
  margin-top: -2rem;
}
#page-resto resto__title h1,
#page-resto resto__title h2,
#page-resto resto__title h3,
#page-resto resto__title h4,
#page-resto resto__title h5,
#page-resto resto__title p {
  padding: 0;
  margin: 0;
}
#page-resto resto__title p {
  background-color: #f6f6f6;
  font-family: "Shrikhand";
  padding: 2rem 1rem;
  position: relative;
  width: 100%;
  border-radius: 2rem 1rem;
}
#page-resto .menus {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 400px;
  grid-template-columns: 1fr;
}
#page-resto .menu__category {
  border-radius: 1rem;
  background-color: white;
}
#page-resto .menu__category .menu-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item .menu-item__prix {
  margin-left: auto;
  font-weight: 900;
}
#page-resto .menu__category .menu-item .menu-item__check {
  background-color: #52a591;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  display: grid;
  place-items: center;
}
#page-resto .menu__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
}
#page-resto .menu__category .menu-item :hover .menu-item__check {
  margin-right: 0;
}

.resto-main {
  padding: 0 2rem;
  background-color: #f6f6f6;
}

button {
  color: white;
  font-weight: 400;
  padding: 1rem 2rem;
  margin-bottom: -10px;
  margin-top: -40px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Roboto";
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: transform 200ms;
}
button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}